extends layout

block content
  header 
    h1= "Your message"
  div
    form(action='/new', method='POST')
        input(class="form-input",type="text",placeholder="Name", name="userName", autofocus)
        textarea(class="form-input",placeholder="Message", name="message", cols="30", rows="10")
        input(class="form-input",id="input-button",type="submit")
  div
    a.button(href="/") Go back
