extends layout

block content

  header 
    h1= title
    p Welcome! Please add a new message
  div
    a.button(href="/new") Add message 
  div
    each val in messages
      div(class="message-container") 
          h3= val.user
          p= val.text
          span= val.added
