extends layout

block content
  h1= title
  p Welcome! Please add a new message
  div
    a.button(href="/new") new message 
  div
    each val in messages
      div 
          h3= val.user
          p= val.text
          h6= val.added
